body{
    margin: 0px;
    padding: 0px;
}
/* Color Variable  */
$primary            : red; 
$secoundary         : blue; 
$section_bg         :green; 
.box{
    height: 120px;
    width: 345px;
    background-color: $secoundary;
}