*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px auto;
    padding: 0px;
}
img{
    max-width: 100%;
}
/* Start Header Section  */
.box{
   
}
.image-box{
    width: 560px;
   position: relative;
}


.text-box{
    position: absolute;
    left: 0;
    bottom: 0;
}
/* End Header Section  */